<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha_registro %>
    <%= f.date_select :fecha_registro %>
  </div>

  <div class="field">
    <%= f.label :fecha_final %>
    <%= f.date_select :fecha_final %>
  </div>

  <div class="field">
    <%= f.label :mounstro %>
    <%= f.text_field :mounstro %>
  </div>

  <div class="field">
    <%= f.label :cantidad %>
    <%= f.number_field :cantidad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
