<p id="notice"><%= notice %></p>
<% if admin_signed_in? %>
    <% @reservations = Reservation.all %>
    
  <% else %>
   <% @reservations = Reservation.where(user_id: current_user.id) %>
       
  <% end %>
<h1>Reservations</h1>

<table classs="table">
  <thead>
    <tr>
      <th>Fecha registro</th>
      <th>Fecha final</th>
      <th>Mounstro</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.fecha_registro %></td>
        <td><%= reservation.fecha_final %></td>
        <td><%= reservation.mounstro %></td>
        <td><%= reservation.cantidad %></td>
        <td><%= link_to 'Show', reservation, class: 'button primary tiny' %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation),class: 'button warning tiny' %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert tiny' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path, class: 'button success tiny'%>
