<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha registro:</strong>
  <%= @reservation.fecha_registro %>
</p>

<p>
  <strong>Fecha final:</strong>
  <%= @reservation.fecha_final %>
</p>

<p>
  <strong>Mounstro:</strong>
  <%= @reservation.mounstro %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @reservation.cantidad %>
</p>

<table >
<thead>
    <tr>
      <th width=25%>Area</th>
      <th width=25%>Acceso</th>
      <th width=25%>Personas</th>
      <th width=25%>Agregado</th>
      <th colspan="3"></th>
    </tr>   
  </thead>
</table> 
<div id="restaurants">
  <%= render :partial => @reservation.restaurants.reverse %>
</div>

<%= form_for([@reservation, Restaurant.new], remote: true) do |f| %>


<div class="field">
  <%= f.label :Area %>
  <%= f.text_field :area %>
</div>

<div class="field">
  <%= f.label :acceso %>
   <%= f.check_box :acceso %>
</div>

<div class="field">
  <%= f.label :Num_Personas %>
   <%= f.number_field :personas %>
</div>

<div class="actions">
  <%= f.submit "Insertar", class: "button primary" %>
</div>

<% end %>
<%= link_to 'Edit', edit_reservation_path(@reservation), class: "button warning" %> |
<%= link_to 'Back', reservations_path, class: "button secondary" %>
