<h1><center>Usuarios</center></h1>

<table class = "table">
  <thead>
    <tr>
      <th>Foto de perfil</th>
      <th>Nombre</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @users.each do |user| %>
     
      <tr>
        <td><%= image_tag(user.avatar_url, :width => 100, :height => 50) if user.avatar.present? %></td>
        <td><%= user.nombre %></td>
        <td><%= user.email %></td>

        
      </tr>
   <%end%>
  </tbody>
</table>