<%= form_for(restaurant) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :area %>
    <%= f.text_field :area %>
  </div>

  <div class="field">
    <%= f.label :acceso %>
    <%= f.check_box :acceso %>
  </div>

  <div class="field">
    <%= f.label :personas %>
    <%= f.number_field :personas %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
