<%= div_for restaurant do %>

	<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
  </thead>
  <tbody>
   
      <tr>
        <td width=25%><%= restaurant.area %></td>
        <td width=25%><%= restaurant.acceso ? "Permitido" : "Denegado" %></td>
        <td width=25%><%= restaurant.personas%></td>
       
        <td width=25%><%= time_ago_in_words(restaurant.created_at)%></td>
      </tr>
    
  </tbody>
</table>
<% end %>