var new_restaurant =$("<%= escape_javascript(render(:partial =>@restaurant))%>").hide();
$('#restaurants').prepend(new_restaurant);
$('#restaurant_<%=@restaurant.id%>').fadeIn('slow');
$('#new_restaurant')[0].reset();