<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table class="table">
  <thead>
    <tr>
      <th>Area</th>
      <th>Acceso</th>
      <th>Personas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.area %></td>
        <td><%= restaurant.acceso %></td>
        <td><%= restaurant.personas %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

