<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @restaurant.area %>
</p>

<p>
  <strong>Acceso:</strong>
  <%= @restaurant.acceso %>
</p>

<p>
  <strong>Personas:</strong>
  <%= @restaurant.personas %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
