<nav class="navbar navbar-dark bg-primary style="background-color: #e3f2fd;">
  <div class="container">
    <div class="navbar-header">
     <h2> HOTEL TRANSYLVANIA </h2>
    </div>
    <div id="navbar">
  
<ul class="nav navbar-nav pull-left">
      <% if admin_signed_in? %>      
        <li><%= link_to 'Lista de usuarios', users_list_path, class: 'button primary' %></li>
        <li><%= link_to 'Reservaciones', reservations_path, class: 'button primary' %></li>
        <% elsif user_signed_in? %>
        
         <li><%= link_to 'Reservaciones', reservations_path, class: 'button primary' %></li>
         <li><%= link_to 'Restaurantes', '/restaurantes', class: 'button primary' %></li>
       
        <% end %>
      </ul>

    <ul class="nav navbar-nav pull-right">
      <li><% link_to 'Home', reservations_path %></li>
      <ul class="nav navbar-nav pull-right">
      <% if admin_signed_in? %>
      
      <li><%= current_admin.email %></li>
      
        <li><%= link_to 'Editar perfil', edit_admin_registration_path, class: 'button primary' %></li>
        <li><%= link_to 'Log out', destroy_admin_session_path, method: :delete, class: 'button primary' %></li>

        <% elsif user_signed_in? %>
        <li><%= current_user.email %></li>
        <%= image_tag(current_user.avatar_url, :width => 50, :height => 50) if current_user.avatar.present? %>
        
         <li><%= link_to 'Editar perfil', edit_user_registration_path, class: 'button primary' %></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'button primary' %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path, class: 'button primary' %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path, class: 'button primary' %></li>
        <% end %>
      </ul>
    </ul>
  </div>
</nav>